.playlists {
  .playlist-item {
    display: flex;
    justify-content: space-between;
    height: 64px;
    padding: 8px;
    &:hover {
      background-color: #272727;
    }
  }
  .playlist-item-inner {
  }
  .playlist-item-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: #272727;

    i {
      font-size: 18px;
    }
  }
  .playlist-item-info {
    display: flex;
    flex-direction: column;
    gap: 1px;
    h6 {
      font-weight: 500;
      margin-bottom: 0;
    }
    span {
      font-size: 14px;
      color: #a7a7a7;
    }
  }
  .playlist-options {
    padding: 10px;

    a {
      display: flex;
      align-items: center;
      gap: 16px;
      text-decoration: none;
      color: #000 !important;
      &:active {
        color: #fff !important;
      }
    }
    i {
      font-size: 16px !important;
    }
    button {
      background-color: transparent;
      border: none;
      color: #a7a7a7;
      cursor: pointer;
      &:hover {
        color: #fff;
      }
      &:active {
        background-color: transparent;
      }
    }
    .dropdown-toggle::after {
      display: inline-block;
      content: "";
      border: 0;
    }
  }
}
